

.component-game--alert {
    top: 0;
    left: 0;
    
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 10;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &.show {
        animation: fadein .4s;
        transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
    }

    & > div {
        background-color: white;
        padding: 1rem;
        border-radius: 10px;
        font-size: 1.5rem;
        position: absolute;
        z-index: 30;
    }
}

@media (max-width: 767.98px) {
    .component-game--alert {
        & > div {
            font-size: 1.2rem;
        }
    }
}