.component-board {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.component-board > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}