.component-board {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 80vw;

    > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.component-game--btn-playgame {
    margin: 1.5rem auto;
}

.component-game--alert {
    top: 0;
    left: 0;
    
    height: 100vh;
    width: 100vw;
    position: absolute;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > div {
        font-size: 2rem;
        z-index: 10;
    }
}

.component-game--status {
    margin-top: .9rem;
}

.component-game--btn-playgame {
    position: relative;
    z-index: 20;
}

@media (max-width: 575.98px) {
    .component-game--alert {
        & > div {
            font-size: 1.2rem;
        }
    }
}