@import "./../mixins";

.component-card {
    border-radius: 5px;
    cursor: pointer;
    margin: .5rem;
    position: relative;
    height: 150px;
    width: 150px;

    .component-card--inner {
        height: 100%;
        position: absolute;
        transition: transform 0.4s;
        transform-style: preserve-3d;
        width: 100%;
    }

    &.reversed {
        .component-card--inner {
            transform: rotateY(180deg);
        }

        .component-card--front {
            display: none;
        }
    }

    &:not(.reversed) .component-card--back {
        display: none;
    }
}

.component-card--back,
.component-card--front {
    background-color: var(--kea-color-white);
    border-radius: 5px;
    height: 100%;
    position: absolute;
    width: 100%;

    @include mx-flex-align-center;
}

.component-card--back {
    background-color: var(--kea-color-blue);
    background-image: url(./../../public/assets/images/kea.svg);
    background-position: center center;
    background-size: 50%;
}

@media (max-width: 575.98px) {
    .component-card {
        height: 100px;
        width: 100px;
    }
}