@import "./../mixins";

.component-game {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--kea-color-lightgrey);

    @include mx-flex-align-center;
}

.component-game--inner {
    padding: 1rem;
}

.component-game--status {
    margin-top: 3rem;
}