/* ********* */
/* Thème    */
/* ********* */

.theme--kea {
    .component-card,
    .component-card--back,
    .component-card--front {
        //border-radius: 5px;
    }

    .card-style .component-card--front {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card-style--1 .component-card--front {
        background-image: url(./../public/assets/images/theme_kea_birds/chicken_blue.jpg);
    }

    .card-style--2 .component-card--front {
        background-image: url(./../public/assets/images/theme_kea_birds/magpie_yellow.jpg);
    }

    .card-style--3 .component-card--front {
        background-image: url(./../public/assets/images/theme_kea_birds/hummingbird_beige.jpg);
    }

    .card-style--4 .component-card--front {
        background-image: url(./../public/assets/images/theme_kea_birds/toucan_blue.jpg);
    }

    .card-style--5 .component-card--front {
        background-image: url(./../public/assets/images/theme_kea_birds/kea_green.jpg);
    }

    .card-style--6 .component-card--front {
        background-image: url(./../public/assets/images/theme_kea_birds/kea_orange.jpg);
    }

    .card-style--7 .component-card--front {
        background-image: url(./../public/assets/images/theme_kea_birds/robin_blue.jpg);
    }

    .card-style--8 .component-card--front {
        background-image: url(./../public/assets/images/theme_kea_birds/robin_yellow.jpg);
    }
    
    .card-style--9 .component-card--front {        
        background-image: url(./../public/assets/images/theme_kea_birds/hummingbird_violet.jpg);
    }
    
    .card-style--10 .component-card--front {
        background-image: url(./../public/assets/images/theme_kea_birds/toucan_pink.jpg);
    }
    
    .card-style--11 .component-card--front {
        background-image: url(./../public/assets/images/theme_kea_birds/magpie_orange.jpg);
    }
    
    .card-style--12 .component-card--front {
        background-image: url(./../public/assets/images/theme_kea_birds/chicken_pink.jpg);
    }
}

.theme--kea-rounded {
    .component-card,
    .component-card--back,
    .component-card--front {
        border-radius: 100%;
    }
}